<a href="https://colab.research.google.com/github/AshimAcharya/Data-Science-with-Machine-Learning-1.0/blob/main/Week_2_Python_Type_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Convert an integer to a floating-point number.

In [1]:
num = int(input("Enter an integer: "))
floating_point_number = float(num)
print(floating_point_number)
print(type(floating_point_number))

Enter an integer: -30
-30.0
<class 'float'>

### 2.Convert a float to an integer.

In [2]:
float_num = float(input("Enter any floating point number: "))
int_num = int(float_num)
print (int_num)
print (type(int_num))

Enter any floating point number: 45.66
45
<class 'int'>

### 3.Convert an integer to a string.

In [3]:
int_num = int(input("Enter an integer: "))
string = str(int_num)
print(string)
print(type(string))

Enter an integer: 32
32
<class 'str'>

### 4.Convert a list to a tuple.

In [4]:
list_names = ["Ram","Sita","Krishna","Radha"]
tuple_names = tuple(list_names)
print(tuple_names)
print (type(tuple_names))

('Ram', 'Sita', 'Krishna', 'Radha')
<class 'tuple'>

### 5. Convert a tuple to a list.

In [14]:
tuple_items = ("football","volleyball","cricket ball","basket ball")
list_items = list(tuple_items)
print(list_items)
print(type(list_items))

['football', 'volleyball', 'cricket ball', 'basket ball']
<class 'list'>

### 6. Convert a decimal number to binary.

In [12]:
decimal_num = int(input("Enter any decimal number: "))
binary_num = bin(decimal_num)
print(binary_num)

Enter any decimal number: 25
0b11001

### 7.Convert a non-zero number to boolean.

In [13]:
num = int(input("Enter any number: "))
boolean = bool(num)
print(boolean)
print(type(boolean))

Enter any number: 3
True
<class 'bool'>