<a href="https://colab.research.google.com/github/AshimAcharya/Data-Science-with-Machine-Learning-1.0/blob/main/week_2_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Calculate the sum, difference, product, and quotient of two numbers.

In [2]:
first_number = float(input("Give me first number: "))
second_number = float(input("Give me secondnumber: "))
sum = first_number + second_number
difference = first_number - second_number
product = first_number * second_number
quotient = first_number / second_number
print("The sum of two number is:",(sum)," .")
print("The difference of two number is:",(difference)," .")
print("The product of two number is:",(product)," .")
print("The quotient of two number is:",(quotient)," .")

Give me first number: 6
Give me secondnumber: 3
The sum of two number is: 9.0  .
The difference of two number is: 3.0  .
The product of two number is: 18.0  .
The quotient of two number is: 2.0  .

### 2.Perform various assignment operations on a variable.

In [5]:
# Let a number equals 20. Now we perform differrent assignment operations in it.

#Assignment operator
number = 20
# Addition assignment operator
number += 5
print(number)
# Subtraction assignment operator
number -= 10
print(number)
# Multiplication assignment operator
number  *= 3
print(number)
# Division assignment operator
number /= 9
print(number)

25
15
45
5.0

### 3.Compare two numbers and print the results.

In [6]:
          ## Comparision Operator
first_number = float(input("Give me first number: "))
second_number = float(input("Give me secondnumber: "))

# Not equal operator
result = first_number != second_number
print ("The numbers are not equal.",(result))

# Equal operator
result = first_number == second_number
print ("The numbers are equal.",(result))

# Greater than operator
result = first_number > second_number
print ("The first number is greater than second number.",(result))

# Less than operator
result = first_number < second_number
print ("The first number is less than second number.",(result))

# Greater than or equal operator
result = first_number >= second_number
print ("The first number is greater than or equal to second number.",(result))

# Less than or equal to operator
result = first_number <= second_number
print ("The first number is less than or equal to second number.",(result))

Give me first number: 9
Give me secondnumber: 8
The numbers are not equal. True
The numbers are equal. False
The first number is greater than second number. True
The first number is less than second number. False
The first number is greater than or equal to second number. True
The first number is less than or equal to second number. False

### 4.Check conditions using logical operators.

In [8]:
        ##Logical operator
# Logical (and)
p = True
q = False
result = p and q
print ("The logical (and) operation between p and q is: ",(result))

# Logical (or)
result = p or q
print ("The logical (or) operation between p and q is: ",(result))

# Logical (not)
result = not p
print("The logical (not) operation of p is:", (result))

result = not q
print("The logical (not) operation of q is:", (result))

The logical (and) operation between p and q is  False
The logical (or) operation between p and q is  True
The logical (not) operation of p is False
The logical (not) operation of q is True

### 5.Check the identity of variables.

In [9]:
from ast import IsNot
from re import M
      ## Identity operators

# "is" operator
m = "ashim"
n = m
result = m is n
print ("m is same as n.",(result))

# "is" operator
result = m is not n
print ("m is not same as n.",(result))

m is same as n. True
m is not same as n. False

### 6. Perform bitwise operations on any two integers.

In [10]:
      ## Bitwise shift operator
x = 4
# Left (<<) operator
result = 4<<3
print ("The bitwise left operation of 4 by 3 is ",(result),".")

# Right (>>) operator
result = 64>>2
print ("The bitwise right operation of 64 by 3 is ",(result),".")

The bitwise left operation of 4 by 3 is  32 .
The bitwise right operation of 64 by 3 is  16 .

### 7.Use unary operators to change the sign of a number.

In [12]:
''' The + operator doesn’t actually change the sign of the number, but it’s
    included for completeness.'''

number = int(input("Enter any integer: "))

# changing the number into it's viceversa
opposite_number = -number
print(opposite_number)

Enter any integer: -6
6

### 8.Use the ternary operator to assign values based on conditions.

In [16]:
      ## Ternary operator
a = int(input("Give me first number: "))
b = int(input("Give me secondnumber: "))

# Copy value of a in min if a < b else copy b
value = a if a < b else b

print(value)

Give me first number: 3
Give me secondnumber: 2
2