<a href="https://colab.research.google.com/github/AshimAcharya/Data-Science-with-Machine-Learning-1.0/blob/main/Week_2_Python_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Print numbers from 1 to 5 using a while loop.

In [24]:
#using while loop
num = 1

while num <= 5:
    print(num,end = ", ")
    num += 1

1, 2, 3, 4, 5,

In [22]:
#using for loop
for num in range(1,6):
  print (num)

1
2
3
4
5

### 2.Calculate the sum of numbers from 1 to 10 using a while loop.

In [16]:
#using while loop
x = 1
sum = 0

while x <= 10:
    sum = sum + x
    print(sum)
    x += 1

1
3
6
10
15
21
28
36
45
55

In [23]:
#using for loop
sum = 0
for num in range (1,11):
  sum = sum + num
  print(sum)

1
3
6
10
15
21
28
36
45
55

### 3.Calculate the factorial of a number using a for loop.

In [24]:
#using for loop
num = int(input("Enter the number of which you want factorial. "))
x = range(1, num+1)
factorial = 1

for y in x:
  factorial = factorial * y
  print(factorial)

Enter the number of which you want factorial. 5
1
2
6
24
120


### 4.Count the number of vowels in a string using a for loop.

In [31]:
#using for loop
text = str(input("Enter any string. "))
vowels= "A,E,I,O,U,a,e,i,o,u,"
count = 0
for each_letter in text:
  if each_letter in vowels:
    count += 1
    print(count)

Enter any string. I love Indian Teachers.
1
2
3
4
5
6
7
8
9

### 5.Print a pattern using nested loops.

In [20]:
#using while loop
rows = 5
while rows >= 1:
    column = rows
    while column >=1 :
        print('#', end='')
        column -= 1
    print()
    print()
    rows -= 1

#####

####

###

##

#

In [30]:
# using for loop
for rows in range (5,0):
  for columns in range (5,0):
    print("*", end=" ")

### 6. Generate a multiplication table using nested loops.

In [10]:
for i in range(2,11):
  for j in range (1,11):
    product = i * j
    print(f" {i} * {j} = {product}")
  print()

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20

 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60

 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70

 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80

 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81
 9 * 10 = 90

 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100